.page-confirm-info-bar {
    height: 25px;
    color: var(--colorFg);
    background: var(--colorBg);
}

.page-confirm-info-bar .infobar-controls input {
	height: 20px;
    color: white;
    background: darkred;
}

.page-confirm-info-bar .infobar-controls input:hover {
    color: var(--colorHighlightFg);
    background: var(--colorHighlightBg) !important;
}
