/* Hide header if tabs not on top */
#browser:not(.tabs-top) #header {
	min-height: 0px !important;
}

/* Hide page title (Start Page for some reason shows this) */
#browser:not(.tabs-top):not(.minimal-ui):not(.normal) #pagetitle {
	display: none;
}

/* Unset padding of page title */
#browser #header #titlebar #pagetitle {
	padding: unset;
}

/* Remove tabbar/icon padding/margin when windowed */
#browser.normal .vivaldi,
#browser.normal #tabs-tabbar-container {
	padding: 0;
	margin: 0;
}

/* Window buttons size + zindex */
#browser.maximized .window-buttongroup,
#browser.maximized .window-buttongroup button,
#browser.normal.tabs-top .window-buttongroup button {
	height: 30px !important;
}

/* Window buttons size when windowed */
#browser.disable-titlebar .window-buttongroup,
#browser.normal:not(.tabs-top) .toolbar-mainbar .vivaldi,
#browser.normal:not(.tabs-top) .window-buttongroup button {
	height: 30px !important;
}

/* V icon size + zindex */
#browser:not(.tabs-top) .toolbar-mainbar .vivaldi {
	width: 25px;
	margin: unset;
	scale: unset;
	z-index: 10;
}
/* V icon SVG size */
#browser:not(.tabs-top) .vivaldi svg {
	height: 22px;
	width: 22px;
}

/* Hide buttons when all UI hidden */
#browser.address-top-off.bookmark-bar-top-off:not(.tabs-top) .vivaldi,
#browser.address-top-off.bookmark-bar-top-off:not(.tabs-top) .window-buttongroup,
#browser.address-bottom-off.bookmark-bar-top-off:not(.tabs-top) .vivaldi,
#browser.address-bottom-off.bookmark-bar-top-off:not(.tabs-top) .window-buttongroup {
	display: none;
}

/* Show buttons on windowed/minimal-ui */
#browser.normal #titlebar .vivaldi,
#browser.minimal-ui #titlebar .vivaldi,
#browser.normal #titlebar .window-buttongroup,
#browser.minimal-ui #titlebar .window-buttongroup,
#browser.normal #titlebar .window-buttongroup button,
#browser.minimal-ui #titlebar .window-buttongroup button {
	display: initial;
	height: calc(24px / var(--uiZoomLevel)) !important;
	scale: unset;
}

/* Reset header on windowed/minimal-ui/bottom-UrlBar/horizontal-menu */
#browser.normal #header,
#browser.minimal-ui:not(.fullscreen) #header,
#browser.address-bottom #header,
#browser.horizontal-menu #header {
	min-height: calc(25px / var(--uiZoomLevel)) !important;
}

/* Reset mainbar on windowed/minimal-ui/bottom-UrlBar/horizontal-menu */
#browser.normal .toolbar-mainbar,
#browser.minimal-ui .toolbar-mainbar,
#browser.address-bottom .toolbar-mainbar,
#browser.horizontal-menu .toolbar-mainbar {
	padding-left: unset;
	padding-right: unset;
}
